

body {
    font-family: serif;
    background-image: url(blue-futuristic-networking-technology_53876-100679.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

h1,h2,h3 {
    text-align: center;
    font-size: xx-large;
    border-radius: 10px;
    border-color: aliceblue;
    border-style: dashed;
    font-family: sans-serif;
    font-weight: 100;
    font-style: normal;
    border: 10px;
    border-color: aliceblue;
    border-style: double;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: aliceblue;
    background-color: black;
    font-size: 50px;
}

p {
    text-align: center;
    color: white;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 45px;
    border-color:aliceblue;
    border: 10px;
    border-style: dotted;
}

ul{
    text-align: center;
    color: aliceblue;
    background-color: aliceblue;
    border-style: dotted;
}

.float-left {
float: left;
max-width: 50%;
}

.float-right {
float: right;
max-width: 50%;
}

.footer-bottom {
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.no-underline {
text-decoration: none;
}