

.biggertext-p {
    font-size: 45px;
}

.footer-bottom {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.center-text {
    text-align: center;
}

a:hover{
    color: red;
    text-decoration: underline;
}

li:hover{
    background-color: blue;
    cursor: pointer;
}

.float-left {
    float: left;
    border: 15px;
    border-radius: 15px;
    background-color: aliceblue;
    padding: 10px;
    margin-right: 20px;
    margin-bottom: auto;
}

.no-underline {
    text-decoration: none;
}

#special-link {
    text-decoration: none;
}

body {
    font-family: serif;
    background-image: url(blue-futuristic-networking-technology_53876-100679.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;
}

h1 {
    text-align: center;
    font-size: xx-large;
    border-radius: 10px;
    border-color: aliceblue;
    border-style: dashed;
    font-family: sans-serif;
    font-weight: 100;
    font-style: normal;
    border: 10px;
    padding-top: 10px;
    padding-bottom: 5;
    color: aliceblue;
    background-color: black;
    font-size: 50px;
}

p {
    border: 10px;
    padding: 10px;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px;
    text-align: left;
    font-size: medium;
    font-family: sans-serif;
    color: aliceblue;
    background-color: black;
    
}

img{
    float: right;
    height: 400px;
    width: 400px;
    outline-color: black;
    outline-width: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 10px;
    margin-bottom: 20px;
}

a,ol,ul{
    color: aliceblue;
    background-color: black;
    margin: 10px;
    font-size: large;
}